repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        name: Terraform format
        description: Rewrites Terraform to canonical format

      - id: terraform_validate
        name: Terraform validate
        description: Validates Terraform configuration files

      - id: terraform_docs
        name: Terraform docs
        description: Inserts/updates documentation in Terraform modules
        args:
          - --hook-config=--path-to-file=README.md
          - --hook-config=--add-to-existing-file=true
          - --hook-config=--create-file-if-not-exist=true

      - id: terraform_tflint
        name: Terraform lint
        description: Lints Terraform code with tflint
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
